/*
 * Add your CSS styles here
 * 
 */

body {
	font-family: Helvetica, Arial, sans-serif;
	background: #f4f4f4;
	margin: 0;
}

h1, h2, h3 {
	color: #222;
}

p {
	line-height: 24px;
	color: #555;
}

a {
	color: green;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

.content {
	width: 940px;
	margin: 0 auto;
}

#header, #nav  {
	border-bottom: 1px solid #999;
}

#nav {
  /* CHALLENGE 3: how could you get this to float to the left side of the screen? */
}

#main {
	margin: 0;
  /*  CHALLENGE 3: how could you get this to float to the left side of the screen? */
  /* CHALLENGE 2: how could you give this element a one-pixel border down its left side? */
}


#my_image {
	margin: 0;
}

.colorAboutMe {
	color: white;
	font-size: 30px
}

.image_background {
	background-image:url("../marisa_image.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-color: transparent;
	background-position: 50% 50%;
	min-height: 500px;
	padding-top: 242px;
	padding-bottom: 142px;
	color: white;
	font-size: 40px;
	padding-left: 10px 
}
.intro_homepage {
	color:white;
	font-size: 50px
}


/* Ignore this for now, it is special code needed to fix the layout after using the "float" rules */
.clearfix:before, .clearfix:after { content:""; display:table; }
.clearfix:after { clear:both; }
.clearfix { zoom:1; }