
body {
	font-family: Helvetica, Arial, sans-serif;
	background:white;
	margin: 0;
}

h1, h2, h3 {
	color:#A04000      ;
}

p {
	line-height: 24px;
	color: #555;
}

ul {
	color: #555;
}

a {
	color: #EC7063;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

.content {
	width: 940px;
	margin: 0 auto;
}

#header, #nav  {
	border-bottom: 1px solid #D5D8DC;
}

#main {
	margin: 0;
}


#my_image {
	margin: 0;
}

.link-style {
	color: white;
	font-size: 25px;
	text-decoration: underline;
}

.image_background {
	background-image:url("../marisa_image.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-color: transparent;
	background-position: 50% 50%;
	min-height: 500px;
	padding-top: 242px;
	padding-bottom: 142px;
	color: white;
	font-size: 40px;
	padding-left: 10px; 
}
.intro_homepage {
	color:white;
	font-size: 50px;
}

